<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284805097535-mv2qsp1asfv2orag0qvqke4nrukuv7l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284805097535-mv2qsp1asfv2orag0qvqke4nrukuv7l4</string>
	<key>API_KEY</key>
	<string>AIzaSyDnU5Expgcr2nC42XvRYYg_huSmUKHr1UA</string>
	<key>GCM_SENDER_ID</key>
	<string>284805097535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reditCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>reddit-87ac2</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-87ac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284805097535:ios:6aaaebb9f8d9bbf25cf08a</string>
</dict>
</plist>